*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logoNavBar{
    width: 150px;
}
.logoBarbearia{
    width: 150px;
}
.header{
    width: 100%;
    min-height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 40px;
    gap: 8px 15px;
}
.headerBtnGroup{
    display: flex;
    gap:15px
}
.navBtn{
    font-size: 19px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.navBtn:hover {
    border-bottom: 3px solid white
}
.sectionTitle{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}
.sectionDescription{
    text-align: center;
    color: #383838;
}
.gridContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "mainContent sidebarContent" "gridContainer";
    padding: 20px;
    flex: 1 0 auto;
}
.maingCardImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.sidebardCardImg{
    width: 100%;
    border-radius: 10px;
}
.categoryCard{
    width: 450px;
    height:350px;
    border: solid 2px transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
   
}
.categoryCard:hover{
   
    border-color: black;
    opacity: 0.7;
}
.categoryCardMax{
    border: 2px solid transparent;
    grid-template-areas: "mainContent" "sidebarContent";
    
    
}
.categoryCardMax:hover{
    border-color: black;
}
.mainContent{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: "mainContent";
   
}

.mainCategoryCardTitle{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.maingCategoryCardDescription{
    padding:15px;
}
.sidebarContent{
    background-color: black;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: "sidebarContent";
}
.sidebarCardImg{
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.sidebarCardImg:hover{
    border-color: white;
    
}
.sidebarCardTitle{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
.footer{
    width: 100%;
    min-height: 40px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
}
.footerAncho{
    color: aliceblue;
    text-decoration: none;
}
@media(max-width: 630px){
    .gridContainer{
        grid-template-areas: "mainContent" 
        "sidebarContent";
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}